.table{
    max-height: 67%;
    max-width: fit-content;
}
.table::-webkit-scrollbar {
    width: 1px;
    height: 5px;
}

.table::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
.table::-webkit-scrollbar-thumb {
    background: #888;
}
  
.table::-webkit-scrollbar-thumb:hover {
    background: #555;
}